<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/styleForm.css"> -->

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
#box {

background-color: white;
height: 400px;
width: 300px;
position: absolute;
left: 930px;
top: 150px;
border: 6px solid grey;
border-radius: 15px;
}


p {
text-align: center;
font-family: 'Merriweather', serif !important;
font-size: 45px;

}

button {
margin-left: 65px;
padding: 20px;
border: 3px grey solid;
font-size: 25px;
}

img {
  border: 20px solid grey;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}


h5 {
font-family: 'Merriweather', serif !important;
text-align: center;

}

#welcome {
margin: auto;
font-family: 'Merriweather', serif !important;
margin-top: 150px;

}


</style>


<div id= "container">


	<img src= "../image/readingStudent.jpg"/>


<div id = "box">




<% if (!user) { %>
  <p>Welcome</p>
  <h5>to</h5>
  <p>Here.</p>
  <p>Please log in</p>
<button type="button"><a href="/login">Login</a></button>
	 <!-- <p>Welcome! Please <a href="/login">log in</a>.</p> -->
<% } else { %>

  <div id = "welcome">
    <button type="button"><a href="/Welcome">Welcome</a></button>
  </div>

<% } %>



</div>

</div>



<% if (!user) { %>
	 <p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/Welcome">profile</a>.</p>
<% } %>
