/*linked with adminWelcome.html*/



body {

/*font-style: 'Open Sans Condensed', sans-serif;*/


background-image: url('../image/softCloth.png');
background-repeat: no-repeat;
background-size: cover;
}

.booksLong {
margin-left: -300px;
margin-bottom: 0px;
margin-top: 0px;
border-bottom: 2px solid white;
height: 240px;
}


.box h3{
  text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e4f45), to(#65a9d7));
    background: -webkit-linear-gradient(top, #4e4f45, #65a9d7);
    background: -moz-linear-gradient(top, #4e4f45, #65a9d7);
    background: -ms-linear-gradient(top, #4e4f45, #65a9d7);
    background: -o-linear-gradient(top, #4e4f45, #65a9d7);
    padding: 12px 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;

}
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}


#sortable1, #sortable2, #sortable3
{ list-style-type: none; margin: 0;
  float: left; margin-right: 10px;
  background: #eee;
  padding: 5px; width: 395px;
  height: 485px;
}

#sortable1 li, #sortable2 li, #sortable3 li
{ margin: 5px; padding: 5px;
  font-size: 1.2em;
  width: 120px; }

h3 {

font-family: 'Merriweather', serif !important;
font-size: 40px !important;
text-align: center;
}

a {
font-family: 'Open Sans Condensed', sans-serif;

}

img {
    margin-left: -25px;
    vertical-align: middle;
    margin-top: 50px;
    /*border: 2px solid #2d2d30;*/

}



h2 {

font-family: 'Merriweather', serif;

}

#demo {


}

h3 {

padding-top: 20px;


}

/*.booksLong {
margin-left: -300px;
margin-bottom: 0px;
margin-top: 0px;
border-bottom: 2px solid white;
height: 240px;
}*/

p {

color: black;
font-size: 140px;
font-family: 'Merriweather', serif !important;
text-align: center;
border-bottom: 2px white solid
}

input.form-control {
margin-left: 400px;
font-size: 30px;
}



#formBorder {
border: 7px solid grey;
clear: both;
background-color: rgba(32, 39, 27, 0.1);
overflow: hidden;
padding-top: 50px;
margin-bottom: 250px;
margin-top: 115px;
}

h1 {
padding-top: 35px;
text-align: center;
padding-bottom: 20px;
border-bottom: 2px white solid;
margin-left: 300px !important;
margin-right: 300px !important;
font-family: 'Open Sans Condensed', sans-serif !important;

}

.box h3 {
    text-align: center;
    position: relative;
    top: 80px;
    color: white;
}

#classAssembly {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 30px;
padding-top: 150px;
}


#column2 {

width: 400px;
height: 500px;
background-color: white;
margin-bottom: 200px;
float: right;
/*clear:left;*/
}

#column1 {

width: 400px;
height: 500px;
background-color: white;
margin-bottom: 200px;
float: left;
}


.btn {

margin-bottom: 100px;

}



/*
.btn











 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 415px;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;*/
  /*opacity: .5;
border-radius: 15px;
    font-family: 'Inconsolata', monospace;
    margin-top: 50px;
    color: black;
    border: 3px solid black !important;
    font-family: 'Merriweather', serif
}*/

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#4e4f45), to(#65a9d7));
   background: -webkit-linear-gradient(top, #4e4f45, #65a9d7);
   background: -moz-linear-gradient(top, #4e4f45, #65a9d7);
   background: -ms-linear-gradient(top, #4e4f45, #65a9d7);
   background: -o-linear-gradient(top, #4e4f45, #65a9d7);
   padding: 12px 24px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }


.button:hover {
   border-top-color: #7498b0;
   background: #7498b0;
   color: #ccc;
   }


.button:active {
   border-top-color: #1b435e;
   background: #1b435e;

}


#saveClass {
font-style:'Open Sans Condensed', sans-serif !important;
background-color: black;
color: white;
padding: 20px;
border-radius: 15px;
margin-top: 600px;
float: right;
clear: both;
}



#myNavbar.collapse.navbar-collapse {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0px;
        background-color: #2d2d30 !important;
        border: 0;
        font-size: 11px !important;
        letter-spacing: 4px;
        opacity: 1.5;
        margin-left: -15px;
        margin-right: -15px;

}

form {

padding-bottom: 100px;

}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  background-color: #A9A9A9 !important;
  border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #337ab7 !important;
    text-decoration: none;
}

.form-control {
font-family: 'Open Sans Condensed', sans-serif;
width: 300px;

}

label {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 25px;

}

.panel-primary {

background-color: white;
/*border: .5px solid blue;*/
}
